@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root{
    --primary-color: rgb(13, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

*{
   
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}
.container{
    border-radius: 20px;
    max-width: 450px;
    margin: 0 auto;
    background: white;
    margin: 10px auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
form input, form label, form button{
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
}
form button:hover{
    background: var(--primary-color-darker);
}
.paragrafo-resultado,.bad{
    background: rgb(63, 197, 130);
    padding: 10px 20px;
}
.bad{
    background: rgb(233, 106, 106);
}
